*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
libs/
*.properties
/app/build/generated/fabric/res/debug/values/com_crashlytics_build_id.xml
/app/build/
